@keyframes fade { 
  from { 
    opacity:0
  } to { 
    opacity:1; 
  } 
}

h1 {
  font-size: 24px;
  font-family: BlinkMacSystemFont, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
}

h3 {
  font-size: 13px;
  font-family: BlinkMacSystemFont, sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

h2 {
  font-size: 20px;
  font-family: BlinkMacSystemFont, sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

p {
  font-size: 11px;
  font-family: BlinkMacSystemFont, sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
  color: #B7BFC6;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 'list';
  background: #fff;
  overflow: hidden;
  justify-self: center;
  margin-top: 50px;
}

.banner {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px;
  grid-template-areas: 'title';
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  background: #FFF;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 5;
}

.eventList {
  grid-area: list;
  outline: none;
  margin: 0;
  z-index: 1;
}

.ReactVirtualized__Grid__innerScrollContainer:focus {
  outline: none;
}

.innerList:focus {
  outline: none;
}

.title {
  grid-area: title;
  align-self: center;
  margin-left: 20px;
}

.event {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25px 25px;
  grid-template-areas: 'action id' 'time id';
  border-bottom: 1px solid #EDF1F2;
  opacity: 0;
  animation: fade ease-in 1;
  animation-fill-mode:forwards;
  animation-duration: 250ms;
}

.eventAction {
  grid-area: action;
  align-self: end;
  margin-left: 30px;
}

.eventTime {
  grid-area: time;
  margin-left: 30px;
}

.eventId {
  grid-area: id;
  align-self: center;
  justify-self: end;
  margin-right: 30px;
}

.emptyState {
  grid-area: list;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 250px auto;
  grid-template-areas: 'icon' 'text';
}

.emptyText {
  grid-area: text;
  justify-self: center;
  align-self: start;
  margin-top: 50px;
  color: #646f79;
}

.emptyIcon {
  grid-area: icon;
  justify-self: center;
  align-self: end;
}

.errorState {
  grid-area: list;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 250px auto;
  grid-template-areas: 'icon' 'text';
}

.errorText {
  grid-area: text;
  justify-self: center;
  align-self: start;
  margin-top: 50px;
  color: #646f79;
}

.errorIcon {
  grid-area: icon;
  justify-self: center;
  align-self: end;
}

.green {
  color: #00BF9C;
}

.gold {
  color: #F2A100;
}

.coral {
  color: #ED4758;
}